future
emoji
lxml
beautifulsoup4
requests
vanitas
speedtest-cli
sqlalchemy
python-telegram-bot
psycopg2-binary
feedparser
spongemock
zalgo-text
geopy
tswift
nltk
pyrogram==2.0.26
psutil
Pillow>=4.2.0
CurrencyConverter
cloudscraper
jikanpy
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon
spamwatch
redis
alphabet_detector
pyrate-limiter
gtts
nekos.py
fontTools
typing
telegraph
tswift
cachetools
pyowm
tabulate
parsel
mtranslate
pyrogram
tgcrypto
configparser
pytz
hachoir
pybase64
pySmartDL
validators
youtube_dl
google-trans-new
#googletrans
youtube_search
secureme
html2text
humanize
flag
bs4
youtube_search_python
search_engine_parser
asyncio
bing_image_downloader
python-arq
motor
dnspython
cryptography
pymongo
gpytranslate
pykeyboard
envparse
aiofiles
loguru
odmantic
aiohttp[speedups]
googletrans
python-rapidjson
ffmpeg
httpx[http2]
spamwatch
pynewtonmath
PyYAML>5.0
pendulum
